*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body{
    background-color: #F5F5F5;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;

}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

#header a{
    text-decoration: none;
}
.logo{
    color: #EC4899;
}

.active{
    color: #555;
}

.contact-container{
    display: flex;
}
.contact-information{
    margin-left: 35px;
}
.larger-text{
    font-size: 20px;
    margin-left: 27px;
}
.smaller-text{
    font-size: 12px;
    margin-left: 22px
}

.contact-info {
    max-width: 400px;
    padding: 1rem;
    background-color: #f5f5f5;
    background-color: var(--bg-color);
    border-radius: 5px;
}

.larger-text,
.smaller-text{
    color: #808080;
}

.contact-info input[type="text"],
.contact-info input[type="email"],
.contact-info textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--bg-color);
    border-radius: 3px;
    margin-right: 5%;
    background-color: var(--bg-color);
    color: white;
}

.contact-info button {
    background-color: #EC4899;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-info button:hover {
    background-color: #555;
}

.contact-right{
    position: absolute;
    right: 9%;
}
.span-email{
    color: #EC4899;
}

.input-container{
    display: flex;
    place-items: center;
    margin-left: 30px;
}

.input-container p{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.custom-input{
    width: 50%;
    border: none;
    border-bottom: 1px solid white;
    padding: 5px;
    outline: none;     /* Remove the default focus outline */
    margin-left: 100px;
    background-color: black;
}
.contact-right iframe{
    color: #808080;
}
/* Add styles for placeholder text */
.custom-input::placeholder{
    color: gray;
}
.input-container button{
    width: 10%;
    height: 40px;
    color: black;
    font-weight: bold;
    background-color: white;
    border-style: none;
    margin-left: 2%;
    margin-bottom: 1%;
}

.nav-bar4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.nav-bar4 ul{
    position: relative;
    display: flex;
    gap: 25px;
}

.nav-bar4 ul li{
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.nav-bar4 ul li:hover{
    width: 180px;
    box-shadow: 0 10px 25px rgba(0, 0, 0);
}


.nav-bar4 ul li::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
}

.nav-bar4 ul li:hover::before{
    opacity: 1;
}

.nav-bar4 ul li::after{
    content: "";
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
    filter: blur(15px);
}
.nav-bar4 ul li:hover::after{
    opacity: 0.5;
}

.nav-bar4 ul li i{
    color: #777;
    font-size: 1.75em !important;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.nav-bar4 ul li:hover i{
    transform: scale(0);
    font-size: 1.75em;
    transition-delay: 0.25s;
}

.nav-bar4 ul li span{
    position: absolute;
}

.nav-bar4 ul li .titulo{
    color: #fff;
    font-size: 1.1em !important;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}

.nav-bar4 ul li:hover .titulo{
    transform: scale(1);
    transition-delay: 0.25s;
}

.closing-infos{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
  
.closing-infos a{    
    text-decoration: none;
    color: white;
}

.closing-infos p{
    color: white;
}

.head{
    font-weight: bold;
}

.closing-header{
    font-size: 20px;
    margin-right: 19%;
    /* margin-top: 10px; */
    color: #EC4899;
  }
   
/* parent div to the store and blog links */
.links{
    margin-right:20%;
    margin-left: 10%;
    margin-top: 0;
}

.links p{
    font-weight: bold;
}
   
    /* div to the store and blog links */
#links{
    display: flex;
    flex-direction: column;
}
   
#links a{
    color: red;
}
   
.store-link{
    margin-top: 5px;
    margin-bottom: 20px;
}

.social-media p{
    margin-left: 25%;
    font-weight: bold;
}
   
hr{
    border-width: 1px;
    border-color: white;
}
   
.btm-credits{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.footer{
    background-color: #000;
    margin-top: 170px;
}

/* Cartbox page */
#cart{
    overflow: auto;
}

#cart h2{
    text-align: center;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 13px;
}

.circle{
    color: black;
}

button.normal{
    background-color: #088178;
    color: white;
    border-style: none;
    padding: 13px 20px 12px 20px;
}

.cartBox{
    display: none;
    position: fixed;
    top: 10%;
    left: 10%;
    width: 75%;
    height: 75%;
    /* background: rgba(0, 0, 0, 0.7);*/
    background: #fff;
    z-index: 1;
    overflow: auto;
}

.close{
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 34px;
    cursor: pointer;
}

/* Back to top button */
.scroll-to-top{
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #000;
    font-size: 24px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

/* light and dark mode button */
.theme-btn{
    position: fixed;
    top: 14%;
    right: 3%;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* box-shadow: 0 3px 15px rgba(0, 0, 0, .3); */
    transition: all .1s ease-in-out;
}

.theme-btn:active{
    transform: translateY(-5px);
}

.theme-btn i{
    font-size: 1.4rem;
    color: #808080;
    pointer-events: none; 
}

.light-mode{
    background-color: #000;
}

.search-bar{
    display: flex;
    place-items: center;
}

.search-bar input{
    width: 50%;
    border: none;
    border-bottom: 1px solid white;
    padding: 5px;
    outline: none;
    margin-left: 20px;
    background-color: #000;
    color: white;
}

@media screen and (max-width: 720px) {
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 90vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.open{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
        cursor: pointer;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    .active{
        color: #555;
    }
    
    .contact-container{
        display: block;
    }
    .contact-information{
        margin-left: 35px;
    }
    .larger-text{
        font-size: 20px;
        margin-left: 27px;
    }
    .smaller-text{
        font-size: 12px;
        margin-left: 22px
    }
    
    .contact-info {
        max-width: 400px;
        /* margin: 0 auto; */
        padding: 1rem;
        background-color: #f5f5f5;
        background-color: var(--bg-color);
        border-radius: 5px;
        /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.8); */
    
    }
    
    .contact-info input[type="text"],
    .contact-info input[type="email"],
    .contact-info textarea {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid var(--bg-color);
        border-radius: 3px;
        margin-right: 5%;
        background-color: var(--bg-color);
        color: white;
    }
    
    .contact-info button {
        background-color: #EC4899;
        color: #fff;
        border: none;
        padding: 8px 16px;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .contact-info button:hover {
        background-color: #555;
    }
    
    .contact-right{
        position: absolute;
        margin-top: 20px;
        left: 9%;
    }

    .contact-right iframe{
        width: 450px;
    }
    
    .span-email{
        color: #EC4899;
    }

    .input-container{
        display: block;
        place-items: center;
    }
    
    .input-container p{
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    .custom-input{
        width: 100%;
        border: none;
        border-bottom: 1px solid white;
        padding: 5px;
        outline: none;     /* Remove the default focus outline */
        margin-left: 1px;
        background-color: black;
    }
    
    /* Add styles for placeholder text */
    .custom-input::placeholder{
        color: gray;
    }
    .input-container button{
        width: 35%;
        height: 40px;
        color: #000;
        font-weight: bold;
        background-color: white;
        border-style: none;
        margin-left: 2%;
        margin-bottom: 1%;
    }

    .nav-bar4{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
    .nav-bar4 ul{
        position: relative;
        display: flex;
        gap: 25px;
    }
    
    .nav-bar4 ul li{
        position: relative;
        list-style: none;
        width: 10px;
        height: 60px;
        border-radius: 60px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        transition: 0.5s;
    }
    
    .nav-bar4 ul li:hover{
        width: 180px;
        box-shadow: 0 10px 25px rgba(0, 0, 0);
    }
    
    
    .nav-bar4 ul li::before{
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50px;
        background: linear-gradient(45deg, var(--i), var(--j));
        opacity: 0;
        transition: 0.5s;
    }
    
    .nav-bar4 ul li:hover::before{
        opacity: 1;
    }
    
    .nav-bar4 ul li::after{
        content: "";
        position: absolute;
        top: 10px;
        width: 100%;
        height: 100%;
        border-radius: 60px;
        background: linear-gradient(45deg, var(--i), var(--j));
        opacity: 0;
        transition: 0.5s;
        z-index: -1;
        filter: blur(15px);
    }
    .nav-bar4 ul li:hover::after{
        opacity: 0.5;
    }
    
    .nav-bar4 ul li i{
        color: #777;
        font-size: 1.75em !important;
        transition: 0.5s;
        transition-delay: 0.25s;
    }
    
    .nav-bar4 ul li:hover i{
        transform: scale(0);
        font-size: 1.75em;
        transition-delay: 0.25s;
    }
    
    .nav-bar4 ul li span{
        position: absolute;
    }
    
    .nav-bar4 ul li .titulo{
        color: #fff;
        font-size: 1.1em !important;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        transform: scale(0);
        transition: 0.5s;
        transition-delay: 0s;
    }
    
    .nav-bar4 ul li:hover .titulo{
        transform: scale(1);
        transition-delay: 0.25s;
    }

    .closing-infos{
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
    }
      
    .closing-infos a{    
        text-decoration: none;
        color: black;
    }

    .closing-infos p{
        color: white;
    }

    .customer-info{
        margin-left: 5%;
        margin-right: 5%;
    }
      
    .head{
        font-weight: bold;
    }
    .closing-header{
        font-size: 20px;
        margin-right: 19%;
        /* margin-top: 10px; */
        color: #EC4899;
      }
       
    /* parent div to the store and blog links */
    .links{
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 0;
    }
    
    .links p{
        font-weight: bold;
        margin-left: 0;
    }
       
        /* div to the store and blog links */
    #links{
        display: flex;
        flex-direction: column;
    }
       
    #links a{
        color: red;
    }
       
    .store-link{
        margin-top: 5px;
        margin-bottom: 20px;

    }
    
    .social-media p{
        margin-left: 45%;
        margin-top: 20%;
    }
       
    hr{
        border-width: 1px;
        border-color: white;
    }
       
    .btm-credits{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }

    .footer{
        background-color: #000;
        margin-top: 700px;
    }

        /* light and dark mode button */
        .theme-btn{
            position: fixed;
            top: 14%;
            right: 10%;
            width: 70px;
            height: 70px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            box-shadow: 0 3px 15px rgba(0, 0, 0, .3);
            transition: all .1s ease-in-out;
        }
    
        .theme-btn:active{
            transform: translateY(-5px);
        }
    
        .theme-btn i{
            font-size: 1.4rem;
            pointer-events: none; 
        }
}